html, body {
    margin: 0;
    padding: 0;
  }

.fuenteGlobalPLP {
  font-family: "NunitoRegular";
}

.mainPLP {
  background-color: #1C1C1C;
  width: 100%;
  height: 900px;
}


.flex-rows {
  flex-direction: column;
}



/* BREADCRUMB
/* ---------------------------------------- */

.elementsBreadcrumb {
  flex-direction: row;
}

.breadcrumb {
  box-sizing: border-box;
  border-radius: 9px;
  color: white;
  background-color: #242f3d;

}

.primer-itemBreadcrumb{
  box-sizing: border-box;
  margin-left: 40px;
}

.ultimo-itemBreadcrumb{
  box-sizing: border-box;
  margin-left: 40px;

}

.intermedios-itemBreadcrumb{
  box-sizing: border-box;
  margin-left: 40px;
}



/* FILTRAR, ORDERNAR, INFO
/* ---------------------------------------- */
.accionesSeccion {
  background-color: #2C2C2C;
}



/* LISTA DE PRODUCTOS 
/* ---------------------------------------- */
.listaProductos {
  background-color: #ffffff  ;
}

.productos {
  display: grid;
  grid-template-columns: 1fr; /* Una sola columna */
  grid-template-rows: repeat(10, auto); /* 10 filas automáticas */
  gap: 20px; /* Espacio entre las cajas que contienen los productos */
  justify-content: center;
  padding: 0;
  margin: 14px;
  list-style: none;
}

.productos li {
  margin-left: 130px;
  border: 3px #f8f8f8 solid;
  height: 295px;
  background-color: #fff;
  text-align: center;
  box-sizing: border-box;
}

.imagenProducto {
  flex-shrink: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 22%;
  background-color: #f7f7f7;
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
}

.flex:nth-child(1) .imagenProducto {
  background-image: url("img/img1.svg");
}

.flex:nth-child(2) .imagenProducto {
  background-image: url("img/img2.svg");
}

.flex:nth-child(3) .imagenProducto {
  background-image: url("img/img3.svg");
}

.flex:nth-child(4) .imagenProducto {
  background-image: url("img/img4.svg");
}

.flex:nth-child(5) .imagenProducto {
  background-image: url("img/img5.svg");
}

.flex:nth-child(6) .imagenProducto {
  background-image: url("img/img6.svg");
}

.flex:nth-child(7) .imagenProducto {
  background-image: url("img/img7.svg");
}

.flex:nth-child(8) .imagenProducto {
  background-image: url("img/img8.svg");
}

.flex:nth-child(9) .imagenProducto {
  background-image: url("img/img9.svg");
}

.flex:nth-child(10) .imagenProducto {
  background-image: url("img/img10.svg");
}

.tituloProducto {
  color:#131921;
  font-size: 16px;
  text-align: left;
  margin-left: 10px;
}

/* ASIDE (BANNER PUBLICITARIO)
/* ---------------------------------------- */
.anuncioPublicitario {
  display: flex;
  background-color: #2C2C2C;
  justify-content: center;
  align-items: center;
  height: 20%;
}

.bannerAds {
  position: relative;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.video-anuncio {
  object-position: 0 -30px;
  width: 55%; 
  height: 70%; 
  object-fit: cover; 
}


/* ---------------------------------------- */

.flex, .flex-breadcrumb, .flex-acciones {
  display: flex;
}

.flex-breadcrumb, .flex-acciones {
  width: 50%;
  height: 100%;
  padding: 0;
  margin: 0;
}



